body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top_right_container {
    margin-left: 85%;
}

.top_right_buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 13px;
}

.dots {
    width: 24px;
    height: 24px;
    display: block;
    padding-top: 7px;
    margin: auto;
    fill: #5d6368;
}

.dots_link {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
}

.dots_link:hover {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    outline: none;
    width: 40px;
    height: 40px;
}

.gmail_images {
    margin: 5px;
    color: #202124;
    margin-top: 10px;
}

.sign_in_div {
    margin-top: 10px;
}

.sign_in {
    font-size: 14px;
    background-color: #1a73e8;
    border-radius: 4px;
    padding: 9px 23px;
    color: white;
}

.sign_in:hover {
    background-color: #1677f5;
    text-decoration: none;
}

#main_logo {
    margin: auto;
    display: block;
    padding-top: 200px;
}

#mag_lens  {
    width: 20px;
    height: auto;
    margin-left: 10px;
    fill: #9aa0a6;
}

.searchbar_div {
    display: flex;
    padding: 5px;
    border: 1px solid #dfe1e5;
    width: auto;
    max-width: 584px;
    margin: auto;
    margin-top: 30px;
    border-radius: 24px;
    box-shadow: none;
    height: 35px;
}

.searchbar_div:hover {
    box-shadow: 0 1px 6px rgba(170, 170, 170, 0.39);
}

#searchbar {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    margin-left: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.submits {
    font-size: 14px;
    background-color: #f8f9fa;
    border-radius: 4px;
    padding: 0px 16px;
    height: 36px;
    color: #202124;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 11px 4px;
    text-align: center;
}

.submits:hover {
    text-decoration: none;
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
}

.language_div {
    background-color: #f2f2f2;
    bottom: 49px;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 49px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

.bottom_text {
    padding-left: 22px;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    left: 0px;
    width: 100%;
    height: 49px;
    bottom: 0px;
    position: absolute;
    align-items: center;
}

.bottom_links {
    background-color: transparent;
    justify-content: space-evenly;
}

.bottom_right_links {
    background-color: transparent;
    justify-content: space-evenly;
}

.bottom_texta {
    padding: 0px 20px;
    color: #70757a;
}

.bottom_textb {
    padding: 0px 20px;
    color: #70757a;
}